<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <div class="titleContainer">
        <h1>About Page</h1>
    </div>

    <div class= "linksDiv">
    <a href="/Home">Home</a> <a href="/about"> About </a> <a href="/works"> Works</a>
    </div>
    <div class="cardDiv"> 
        <h2>T'Challa's origin</h2>
        <p class ="pContainer">
        Black Panther is the title held by T’Challa, a member of the royal family of the fictional African country of Wakanda. 
        After the death of his father, T’Challa claimed the throne and the role of Black Panther. 
        He was exposed to a mystical herb that enhanced his strength and agility to near-superhuman levels. 
        <br><br>
        Upon meeting the Fantastic Four, T’Challa chose to use his powers to help all of humanity, despite Wakanda being traditionally isolationist. 
        He relocated to New York City to fulfill his new role.
        </p>
        <br>
        <img src="/images/bpOrigin.jpeg" alt="blackPanther">
    </div>
    
   
</body>
</html>