<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works</title>
</head>
<body>
    <div class="titleContainer">
    <h1>Works</h1>
    </div>
   
    <div class= "linksDiv">
    <a href="/Home">Home</a> <a href="/about"> About </a> <a href="/works"> Works</a>
    </div>

    <div class="cardDiv">
        <h2>The big fight against Deadpool</h2>
      
        <p class="pContainer">
            During the events of Civil War II, Deadpool decides to invade the headquarters of The Ultimates in order to go after the Inhuman Ulysses. 
            After the two have a conversation, he ends up running into Black Panther and all hell breaks loose as they get into an epic battle. 
            <br><br>   It’s hard to imagine a mutant ninja assassin with the most powerful healing factor in the world falling to Black Panther, but it still happened.
            <br><br>
            Wade and T’Challa battle it out for several pages, with the two trading blows to the groin and Deadpool leaving an “upper decker” in The Ultimates’ toilets. 
            The fight finally ends when Black Panther launches his opponent out the window of the building, breaking almost every bone in Deadpool’s body. 
            T’Challa then throws the toilet at the merc before he can make his getaway.
        </p>
        <br>
        <img src="/images/bpDeadpool.jpeg" alt="bpvsDeadpool">
    </div>
</body>
</html>